before_script:
  - echo "Setup done"

after_script:
  - echo "Done with the work"

stages:
  - test_scala_toolflow
  - build_scala_toolflow
  - build_kernel
  - build_runtime
  - build_hw

.test_tapasco_centos:
  stage: test_scala_toolflow
  retry: 2
  dependencies: []
  tags:
    - High
  script:
    - yum -y install which java-openjdk findutils
    - ./tapasco-init.sh && source tapasco-setup.sh
    - cd ${TAPASCO_HOME_TOOLFLOW}/scala
    - ./gradlew test

test_tapasco_centos_7:
  image: centos:7
  extends: .test_tapasco_centos

test_tapasco_centos_8:
  image: centos:8
  extends: .test_tapasco_centos

.test_tapasco_ubuntu:
  stage: test_scala_toolflow
  retry: 2
  dependencies: []
  tags:
    - High
  script:
    - apt-get -y update && apt-get -y install unzip git zip findutils curl default-jdk
    - ./tapasco-init.sh && source tapasco-setup.sh
    - cd ${TAPASCO_HOME_TOOLFLOW}/scala
    - ./gradlew test

test_tapasco_ubuntu_16_04:
  image: ubuntu:xenial
  extends: .test_tapasco_ubuntu

test_tapasco_ubuntu_18_04:
  image: ubuntu:bionic
  extends: .test_tapasco_ubuntu

.test_tapasco_fedora:
  stage: test_scala_toolflow
  retry: 2
  tags:
    - High
  before_script:
    - dnf -y install which java-openjdk findutils
  script:
    - ./tapasco-init.sh && source tapasco-setup.sh
    - cd ${TAPASCO_HOME_TOOLFLOW}/scala
    - ./gradlew test

test_tapasco_fedora_30:
  image: fedora:30
  extends: .test_tapasco_fedora
  before_script:
  - dnf -y install which findutils java-11-openjdk

test_tapasco_fedora_31:
  image: fedora:31
  extends: .test_tapasco_fedora

.build_scala_tapasco_centos:
  stage: build_scala_toolflow
  retry: 2
  dependencies: []
  tags:
    - High
  before_script:
    - yum -y install which java-openjdk findutils
  script:
    - ./tapasco-init.sh && source tapasco-setup.sh
    - cd ${TAPASCO_HOME_TOOLFLOW}/scala
    - tapasco-build-toolflow

build_scala_tapasco_centos_7:
  image: centos:7
  extends: .build_scala_tapasco_centos

build_scala_tapasco_centos_8:
  image: centos:8
  extends: .build_scala_tapasco_centos

.build_scala_tapasco_fedora:
  stage: build_scala_toolflow
  retry: 2
  dependencies: []
  tags:
    - High
  before_script:
    - dnf -y install which java-openjdk findutils
  script:
    - ./tapasco-init.sh && source tapasco-setup.sh
    - cd ${TAPASCO_HOME_TOOLFLOW}/scala
    - tapasco-build-toolflow
    - ./gradlew buildRPM
  artifacts:
    paths:
      - toolflow/scala/build/distributions/tapasco-2020-04.x86_64.rpm

build_scala_tapasco_fedora_30:
  image: fedora:30
  extends: .build_scala_tapasco_fedora
  before_script:
    - dnf -y install which findutils java-11-openjdk

build_scala_tapasco_fedora_31:
  image: fedora:31
  extends: .build_scala_tapasco_fedora

.build_scala_tapasco_ubuntu:
  stage: build_scala_toolflow
  retry: 2
  dependencies: []
  tags:
    - High
  before_script:
    - apt-get -y update && apt-get -y install default-jdk findutils
  script:
    - ./tapasco-init.sh && source tapasco-setup.sh
    - cd ${TAPASCO_HOME_TOOLFLOW}/scala
    - tapasco-build-toolflow
    - ./gradlew buildDEB
  artifacts:
    paths:
      - toolflow/scala/build/distributions/tapasco_2020-04_amd64.deb

build_scala_tapasco_ubuntu_16_04:
  image: ubuntu:xenial
  extends: .build_scala_tapasco_ubuntu

build_scala_tapasco_ubuntu_18_04:
  image: ubuntu:bionic
  extends: .build_scala_tapasco_ubuntu

# build kernel module
# as we are running in a docker instance, we cannot use tapasco-build-libs
.build_kernel_ubuntu:
  stage: build_kernel
  retry: 2
  dependencies: []
  variables:
    MODE: "release"
  tags:
    - Normal
  script:
    - apt-get -y update && apt-get -y install build-essential linux-headers-generic python3 libelf-dev
    - ./tapasco-init.sh && source tapasco-setup.sh
    - for d in `ls /lib/modules`; do echo "Building for linux headers in $d"; pushd runtime/kernel; make LINUX_HOME="/lib/modules/$d/build" clean && make LINUX_HOME=/lib/modules/$d/build -j 1 $MODE; popd; done
  artifacts:
    paths:
      - runtime/kernel/tlkm.ko

build_kernel_ubuntu_16_04:
  image: ubuntu:xenial
  extends: .build_kernel_ubuntu

build_kernel_ubuntu_18_04:
  image: ubuntu:bionic
  extends: .build_kernel_ubuntu

build_kernel_ubuntu_16_04_debug:
  variables:
    MODE: "all"
  image: ubuntu:xenial
  extends: .build_kernel_ubuntu

build_kernel_ubuntu_18_04_debug:
  variables:
    MODE: "all"
  image: ubuntu:bionic
  extends: .build_kernel_ubuntu

build_kernel_arm32v7_debug:
  stage: build_kernel
  variables:
    MODE: "all"
  image: arm32v7/ubuntu:16.04
  extends: .build_kernel_ubuntu

build_kernel_arm64v8_debug:
  stage: build_kernel
  variables:
    MODE: "all"
  image: arm64v8/ubuntu:16.04
  extends: .build_kernel_ubuntu

.build_kernel_fedora:
  stage: build_kernel
  retry: 2
  dependencies: []
  variables:
    MODE: "release"
  tags:
    - Normal
  script:
    - dnf -y install kernel-devel make gcc gcc-c++ elfutils-libelf-devel
    - ./tapasco-init.sh && source tapasco-setup.sh
    - for d in `ls /usr/src/kernels/`; do echo "Building for linux headers in $d"; pushd runtime/kernel; make LINUX_HOME="/usr/src/kernels/$d" clean && make LINUX_HOME=/usr/src/kernels/$d -j 1 $MODE; popd; done
  artifacts:
    paths:
      - runtime/kernel/tlkm.ko

build_kernel_fedora_30:
  image: fedora:30
  extends: .build_kernel_fedora

build_kernel_fedora_31:
  image: fedora:31
  extends: .build_kernel_fedora

build_kernel_fedora_30_debug:
  variables:
    MODE: "all"
  image: fedora:30
  extends: .build_kernel_fedora

build_kernel_fedora_31_debug:
  variables:
    MODE: "all"
  image: fedora:31
  extends: .build_kernel_fedora

.build_tapasco:
  stage: build_runtime
  retry: 2
  variables:
    MODE: "release"
    TARGET: ""
  dependencies: []
  tags:
    - Normal
  script:
    - ./tapasco-init.sh && source tapasco-setup.sh
    - tapasco-build-libs --mode=$MODE --target=$TARGET --skip_driver
    - cd build* && make package

.build_tapasco_fedora:
  before_script:
    - dnf -y install kernel-devel make gcc gcc-c++ elfutils-libelf-devel cmake ncurses-devel python3 libatomic git rpm-build
  artifacts:
    paths:
      - build/tapasco-*-Linux.rpm
  extends: .build_tapasco

build_tapasco_fedora_30:
  image: fedora:30
  extends: .build_tapasco_fedora

build_tapasco_fedora_31:
  image: fedora:31
  extends: .build_tapasco_fedora

build_tapasco_fedora_30_debug:
  variables:
    MODE: "debug"
  image: fedora:30
  extends: .build_tapasco_fedora

build_tapasco_fedora_31_debug:
  variables:
    MODE: "debug"
  image: fedora:31
  extends: .build_tapasco_fedora

.build_tapasco_ubuntu:
  before_script:
    - apt-get -y update && apt-get -y install build-essential linux-headers-generic python3 cmake libelf-dev libncurses-dev git rpm
  artifacts:
    paths:
      - build/tapasco-*-Linux.deb
  extends: .build_tapasco

build_tapasco_ubuntu_16_04:
  image: ubuntu:xenial
  extends: .build_tapasco_ubuntu

build_tapasco_ubuntu_18_04:
  image: ubuntu:bionic
  extends: .build_tapasco_ubuntu

build_tapasco_ubuntu_16_04_cross:
  variables:
    TARGET: "zynq"
  image: ubuntu:xenial
  before_script:
    - apt-get -y update && apt-get -y install build-essential linux-headers-generic python3 cmake libelf-dev libncurses-dev git rpm gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf
  extends: .build_tapasco_ubuntu

build_tapasco_ubuntu_16_04_clang:
  variables:
    TARGET: "clang"
  image: ubuntu:xenial
  before_script:
    - apt-get -y update && apt-get -y install build-essential linux-headers-generic python3 cmake libelf-dev libncurses-dev git rpm clang
  extends: .build_tapasco_ubuntu

build_tapasco_ubuntu_16_04_debug:
  variables:
    MODE: "debug"
  image: ubuntu:xenial
  extends: .build_tapasco_ubuntu

build_tapasco_ubuntu_18_04_debug:
  variables:
    MODE: "debug"
  image: ubuntu:bionic
  extends: .build_tapasco_ubuntu

build_tapasco_arm32v7_debug:
  variables:
    MODE: "debug"
  image: arm32v7/ubuntu:16.04
  extends: .build_tapasco_ubuntu

build_tapasco_arm64v8_debug:
  variables:
    MODE: "debug"
  image: arm64v8/ubuntu:16.04
  extends: .build_tapasco_ubuntu

build_tapasco_ubuntu_16_04_cross_debug:
  variables:
    MODE: "debug"
    TARGET: "zynq"
  image: ubuntu:xenial
  before_script:
    - apt-get -y update && apt-get -y install build-essential linux-headers-generic python3 cmake libelf-dev libncurses-dev git rpm gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf
  extends: .build_tapasco_ubuntu

tapasco_compose_ubuntu:
  stage: build_hw
  retry: 2
  variables:
    VIVADO_VERSION: "2019.1"
    XILINX_VIVADO: "/opt/cad/xilinx/vivado/Vivado/${VIVADO_VERSION}"
    XILINXD_LICENSE_FILE: "/opt/cad/keys/xilinx"
  tags:
    - CAD
  image: ubuntu:bionic
  dependencies:
    - build_scala_tapasco_ubuntu_18_04
  script:
    - source $XILINX_VIVADO/settings64.sh
    - apt-get -y update
    - apt-get -y install libtinfo5 build-essential
    - apt -y install ./toolflow/scala/build/distributions/tapasco_2020-04_amd64.deb
    - /opt/tapasco/tapasco-init-toolflow.sh
    - source tapasco-setup-toolflow.sh
    - tapasco -v hls counter -p pynq
    - tapasco -v --maxThreads 3 compose [counter x 3] @ 100 MHz -p pynq

.tapasco_compose:
  stage: build_hw
  retry: 2
  variables:
    VIVADO_VERSION: "2019.1"
    XILINX_VIVADO: "/opt/cad/xilinx/vivado/Vivado/${VIVADO_VERSION}"
    XILINXD_LICENSE_FILE: "/opt/cad/keys/xilinx"
    PLATFORM: "pynq"
    FLAGS: ""
  tags:
    - CAD
    - High
  image: fedora:30
  dependencies:
    - build_scala_tapasco_fedora_30
  before_script:
    - dnf -y install which unzip git zip tar findutils libX11 gcc gcc-c++ python3
    - ln -s /lib64/libtinfo.so.6 /lib64/libtinfo.so.5
  script:
    - source $XILINX_VIVADO/settings64.sh
    - which vivado
    - which vivado_hls
    - dnf -y install toolflow/scala/build/distributions/tapasco-2020-04.x86_64.rpm
    - /opt/tapasco/tapasco-init-toolflow.sh
    - source tapasco-setup-toolflow.sh
    - tapasco hls counter -p $PLATFORM --skipEvaluation
    - tapasco -v --maxThreads 3 compose [counter x 3] @ 100 MHz -p $PLATFORM $FLAGS

tapasco_compose_17_4:
  variables:
    VIVADO_VERSION: "2017.4"
  extends: .tapasco_compose

tapasco_compose_18_1:
  variables:
    VIVADO_VERSION: "2018.1"
  extends: .tapasco_compose

tapasco_compose_18_2:
  variables:
    VIVADO_VERSION: "2018.2"
  extends: .tapasco_compose

tapasco_compose_18_3:
  variables:
    VIVADO_VERSION: "2018.3"
  extends: .tapasco_compose

tapasco_compose_19_1:
  variables:
    VIVADO_VERSION: "2019.1"
  extends: .tapasco_compose

tapasco_compose_19_2:
  variables:
    VIVADO_VERSION: "2019.2"
  extends: .tapasco_compose

tapasco_compose_20_1:
  variables:
    VIVADO_VERSION: "2020.1"
    XILINX_VIVADO: "/opt/cad/xilinx/vitis/Vivado/${VIVADO_VERSION}"
  extends: .tapasco_compose

tapasco_compose_pcie:
  variables:
    VIVADO_VERSION: "2018.3"
    PLATFORM: "vc709"
  extends: .tapasco_compose

# do runs without for synthesis for all other plattforms
.tapasco_compose_no_synth:
  variables:
    FLAGS: "--skipSynthesis"
  extends: .tapasco_compose

tapasco_compose_AU250:
  variables:
    PLATFORM: "AU250"
  extends: .tapasco_compose_no_synth

tapasco_compose_netfpga_sume:
  variables:
    PLATFORM: "netfpga_sume"
  extends: .tapasco_compose_no_synth

tapasco_compose_ultra96v2:
  variables:
    PLATFORM: "ultra96v2"
  extends: .tapasco_compose_no_synth

tapasco_compose_vcu108:
  variables:
    PLATFORM: "vcu108"
  extends: .tapasco_compose_no_synth

tapasco_compose_vcu118:
  variables:
    PLATFORM: "vcu118"
  extends: .tapasco_compose_no_synth

tapasco_compose_vcu1525:
  variables:
    PLATFORM: "vcu1525"
  extends: .tapasco_compose_no_synth

tapasco_compose_xupvvh:
  variables:
    PLATFORM: "xupvvh"
  extends: .tapasco_compose_no_synth

tapasco_compose_zc706:
  variables:
    PLATFORM: "zc706"
  extends: .tapasco_compose_no_synth

tapasco_compose_zcu102:
  variables:
    PLATFORM: "zcu102"
  extends: .tapasco_compose_no_synth

tapasco_compose_zedboard:
  variables:
    PLATFORM: "zedboard"
  extends: .tapasco_compose_no_synth
