*.bd
*.cfg
*.log
*.jou
*.swp
*.swo
*.o
**/tags
**/build
target
/core
/compose
/DSE_*
arch/**/lib
arch/tests/json11.*
doc/**/*.aux
doc/**/*.pdf
doc/**/*.log
doc/**/*.bbl
doc/**/*.blg
doc/**/*.out
doc/**/*.fls
doc/**/*.toc
doc/**/*.html
doc/**/*.fdb_latexmk
platform/**/lib
platform/*/module/.*
platform/*/module/*.o
platform/*/module/*.mod.c
platform/*/module/*.ko
platform/*/module/Module.*
platform/*/module/modules.order
platform/zynq/include/platform_dpi.h
bin/tapasco-debug
bin/tapasco-benchmark
project/build.properties
bin/tapasco
/tapasco-status-cache/
/lib/
.cache.mk
.Xil/
webtalk.*
nf_sume_ddr3A.prj
.idea
*.sublime-project
*.sublime-workspace
**.gradle
