*.bd
*.cfg
*.log
*.swp
*.swo
**/tags
**/build
target
/core
/bd
itpc/**
arch/**/lib
doc/**/*.aux
doc/**/*.pdf
doc/**/*.log
doc/**/*.bbl
doc/**/*.blg
doc/**/*.out
doc/**/*.fls
doc/**/*.toc
doc/**/*.html
doc/**/*.fdb_latexmk
platform/**/lib
platform/*/module/.*
platform/*/module/*.o
platform/*/module/*.mod.c
platform/*/module/*.ko
platform/*/module/Module.*
platform/*/module/modules.order
platform/zynq/include/platform_dpi.h
