<profile>

<AreaReport>
<Resources>
<SLICE>@@SLICE@@</SLICE>
<LUT>@@LUT@@</LUT>
<FF>@@FF@@</FF>
<DSP>@@DSP@@</DSP>
<BRAM>@@BRAM@@</BRAM>
<SRL>0</SRL>
</Resources>
<AvailableResources>
<SLICE>@@SLICES@@</SLICE>
<LUT>@@LUTS@@</LUT>
<FF>@@FFS@@</FF>
<DSP>@@DSPS@@</DSP>
<BRAM>@@BRAMS@@</BRAM>
</AvailableResources>
</AreaReport>

<TimingReport>
<TargetClockPeriod>@@PERIOD@@</TargetClockPeriod>
<AchievedClockPeriod>@@MIN_PERIOD@@</AchievedClockPeriod>
</TimingReport>

</profile>
