#!/bin/bash

#SBATCH -J @@JOB_NAME@@
#SBATCH -o @@SLURM_LOG@@
#SBATCH -e @@ERROR_LOG@@
#SBATCH --mem-per-cpu=@@MEM_PER_CPU@@
#SBATCH -n @@CPUS@@
#SBATCH -t @@TIMELIMIT@@
#SBATCh --comment="@@COMMENT@@"

export TAPASCO_HOME=@@TAPASCO_HOME@@
source ~/vivado.sh
pushd $TAPASCO_HOME
source ./setup.sh
popd

# user commands begin here
echo "SLURM job #$SLURM_JOB_ID started at $(date)"
@@COMMANDS@@
echo "SLURM job #$SLURM_JOB_ID finished at $(date)"
